doctype html
html(lang="nl")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{account.name} Scrollytelling archief
    link(rel="preload" as="style" href="css/main.css")
    link(rel="stylesheet" href="css/main.css")
      
  body
    section.hero.is-medium.is-primary.is-bold
      .hero-body
        .container
          .columns
            .column.is-8-desktop.is-offset-2-desktop
              h1.title.is-2.is-spaced= account.name
              h2.subtitle.is-4 Scrollytelling archief
    
    section.section
      .container
        .columns
          .column.is-8-desktop.is-offset-2-desktop
            .content
              #scrollies
                .field.is-grouped
                  p.control
                    input.input.search(type="search" placeholder="Zoek titel of auteur")
                .field.is-grouped
                  p.control
                    button.button.is-light.sort(data-sort="title") Sorteer op titel
                    button.button.is-light.sort(data-sort="author") Sorteer op auteur
                    button.button.is-light.sort(data-sort="published") Sorteer op datum

                ol.list
                  each entry in entries
                    article.media(lang=entry.locale)
                      .media-content
                        .content
                          p
                            a(href=entry.slug)= entry.title
                            if entry.author
                              small= entry.author
                            small
                              time.published(datetime=entry.published_at)= entry.published_at
                        
    footer.footer.has-text-centered
      .container
        .columns
          .column.is-8-desktop.is-offset-2-desktop
            p Dit is een archief van verhalen die gemaakt zijn met Scrollytelling. Scrollytelling zelf is er niet meer, maar dit archief is er gelukkig nog wel.

            a(rel="license" href="http://creativecommons.org/licenses/by/4.0/")
              img(alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/88x31.png")
            br

            p <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Dit archief</span> van <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.scrollytelling.com" property="cc:attributionName" rel="cc:attributionURL">Scrollytelling</a> is in licentie gegeven volgens een <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Naamsvermelding 4.0 Internationaal-licentie</a>.
            
    script(src="js/moment-with-locales.js")
    script(src="js/list.min.js")
    script(src="js/main.js")
