doctype html
html(lang="nl")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{account.name} Scrollytelling archief
    link(rel="preload" as="style" href="css/main.css")
    link(rel="stylesheet" href="css/main.css")
      
  body
    section.hero.is-medium.is-primary.is-bold
      .hero-body
        .container
          .columns
            .column.is-8-desktop.is-offset-2-desktop
              h1.title.is-2.is-spaced= account.name
              h2.subtitle.is-4 Scrollytelling archief
    
    section.section
      .container
        .columns
          .column.is-8-desktop.is-offset-2-desktop
            .content#scrollies
              .field
                label.label Zoek titel of auteur
                .control
                  input.input.search(type="search" placeholder="Abby Rozenhofje")
              .field
                label.label Sorteer op:
                .control
                  button.button.is-light.sort(data-sort="title") Titel
                  button.button.is-light.sort(data-sort="author") Auteur
                  button.button.is-light.sort(data-sort="published") Datum

              section.list
                each entry in entries
                  a.scrolly.is-clearfix(lang=entry.locale href=entry.slug)
                    p.surtitle.is-pulled-right
                      time.published(datetime=entry.published_at)= entry.published_at
                    h2.title= entry.title
                    p.subtitle.is-4= entry.author
                        
    footer.footer.has-text-centered
      .container
        .columns
          .column.is-8-desktop.is-offset-2-desktop
            img(src="images/scrollytelling.png" alt="Scrollytelling")

            p Scrollytelling was a popular tool used for creating engaging multimedia stories. You are looking at the archive of works published on Scrollytelling by #{account.name} in the years #{account.years_active.join(', ')}. 

            p
              | Curated on
              time(datetime=info.created_at)= info.created_at
              | by
              each name, email in info.curators
                a(href="mailto:#{email}")= name
              |.
            // archive id: #{id}

            p
              a(href="https://www.scrollytelling.com") www.scrollytelling.com
            
    script(src="js/moment-with-locales.js")
    script(src="js/list.min.js")
    script(src="js/main.js")
